CASSANDRA_CLUSTER=localhost
SWIFT_AUTH_URL=http://localhost:5000/v3
SWIFT_AUTH_VERSION=3
SWIFT_USERNAME=swift
SWIFT_PASSWORD=example
SWIFT_USER_DOMAIN_NAME=example
SWIFT_CONTAINER_NAME=example
SWIFT_PROJECT_ID=example
SWIFT_PROJECT_NAME=example
SWIFT_PROJECT_DOMAIN_NAME=example
SWIFT_REGION_NAME=RegionOne

SWIFT_DOWNLOAD_OUTPUT_DIR_PREFIX=example
